# Data manipulation
pandas
numpy

# API calls
requests

# # Database integration (PostgreSQL / Redshift)
# # (no longger needed since using snowflake)
# sqlalchemy
# psycopg2-binary

# Cloud storage / AWS integration
boto3

# Data warehouse
snowflake-connector-python
dbt-snowflake

# Orchestration
apache-airflow  # or prefect

# Jupyter notebooks
jupyter

# Dashboard / visualization
plotly
dash
